.navbar {
  @extend .navbar-expand-lg;
  @extend .bg-body-tertiary;
  @extend .fixed-top;

  --bs-bg-opacity: 0.8;
  .nav-link {
    i {
      display: none;
      @include respond(pc, tablet) {
        display: block;
      }
      text-align: center;
      font-size: 2rem !important;
    }
  }
}
