<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
  </head>
  <body>
    <section class="hero">
      <div class="container text-center">
        <h1><%= htmlWebpackPlugin.options.title %></h1>
      </div>
    </section>
    <nav id="topNav" class="navbar" style="display: none"></nav>
    <div id="sections" class="sections"></div>
    <div id="footer" style="display: none">
      <div class="ftContact">
        <div class="ftPanel">
          <h4>Contact Details</h4>
          <a href="mailto:david.elton@chilterndelayanalysis.com"
            ><i class="bi bi-envelope"></i
            >david.elton@chilterndelayanalysis.com</a
          >
        </div>
        <div class="ftPanel">
          <h4>Social Media</h4>
          <a
            href="https://www.linkedin.com/in/david-elton-05a98123/"
            target="_blank"
          >
            <i class="bi bi-linkedin"></i>LinkedIn</a
          >
        </div>
      </div>
      <div class="ftCopyright">
        <p>
          © Chiltern Delay Analysis Consulting
          <span id="copyright-year"></span>. All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
